.img-backdrop {
    width: 100vw;
    height: 100vh;
    background-color: $dark-gray;
}

.custom-container {
    margin: 20px;
    position: relative;
}

body {
    background-color: $dark-gray;
    color: white;
    font-family: Helvetica;
}