.img-backdrop {
  width: 100vw;
  background: radial-gradient(transparent, black), url("../croatia_pic.jpg");
  background-size: cover;
  height: 100vh;
  background-color: $dark-gray;
}

.multimedia-nav {
  position: absolute;
  right: 30px;
  top: 200px;
  display: flex;
  height: 200px;
  justify-content: space-between;
  flex-direction: column;
}

.custom-container {
  padding: 20px;
  position: relative;
  width: 100vw;
  height: 100vh;

  .top-nav {
    display: flex;
    justify-content: space-between;
  }
}

.banner-time {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  h3 {
    font-size: 115px;
  }

  h4 {
    font-size: 50px;
  }
}

body {
  background-color: $dark-gray;
  color: white;
  font-family: Helvetica;
}
