.bookshelf-container {
    width: 100vw;
    height: 50vh;
    position: fixed;
    bottom: 0;
    background-color: black;

    .books-console {
        width: 300px;
        padding: 15px 20px 10px 20px;
        border-right: 2px solid $light-gray;
      
        .books-menu {
          // padding-top: 20px;
      
          &__menu-item {
            padding-top: 20px;
          }
        }
    }

    .content-area {
        padding: 20px 20px; height: 100%;
        width: 75%;
    }

    .bookshelf {
        padding: 20px 20px;
        width: 100%;
        display: flex;
        align-items: center;

        &__book-container {
            position: relative;
            margin-right: 20px;
        }

        &__book-cover {
            height: 100px;
            // padding: 10px 10px;

            &--dummy {
                height: 100px;
                width: 65px;
                padding: 10px 10px;    
                background-color: gray;
            }

            &--animated-dummy {
                height: 100px;
                width: 65px;
                padding: 10px 10px;
                border: 1px dotted gray;
                background-color: #f6f7f8;
                animation-duration: 3s;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
                animation-name: placeHolderShimmer;
                animation-timing-function: linear;
                background: linear-gradient(to right, black 8%, gray 18%, black 33%);
                background-size: 300px 104px;
                position: relative;
            }

            @keyframes placeHolderShimmer{
                0%{
                    background-position: -468px 0
                }
                100%{
                    background-position: 468px 0
                }
            }
        }

        &__book-caption p {
            width: 75px;
            font-size: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__book-caption--animated-dummy {
            height: 3px;
            margin-top: 5px;
            width: 65px;
            padding: 10px 10px;
            // border: 2px solid gray;
            background-color: #f6f7f8;
            animation-duration: 3s;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
            animation-name: placeHolderShimmer;
            animation-timing-function: linear;
            background: linear-gradient(to right, black 8%, gray 18%, black 33%);
            background-size: 300px 104px;
            position: relative;
        }

        @keyframes placeHolderShimmer{
            0%{
                background-position: -468px 0
            }
            100%{
                background-position: 468px 0
            }
        }

        
    }
}

.drawer-enter-active, .drawer-leave-active {
    transition:  0.5s;
}
.drawer-enter, .drawer-leave-to {
    transform: translatey(100%);
}