::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #ada9a9;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.links-window {
    @include dark-menu;
    max-height: 600px;
    width: 300px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    // top: 40px;

    .links-list {
        position: absolute;
        display: inline-block;
        left: 0%;
        width: 100%;
        color: white;
        overflow-y: auto;
        max-height: 600px;
        // transform: translateZ(0);

        // .secret-container {
        //     position: relative;
        //     scrollbar-color: white black;
        //     height: 300px;
        //     overflow-y: scroll;

        // }

        ul {
            color: white;
            list-style-type: none;
            padding: 20px 0px 0px 20px;
        }

        li {
            color: white;
            decoration: none;
            margin-bottom: 10px;
        }

    }

    &__add-link-button {
        @include dark-menu;
        color: white;
        padding: 5px 0 10px 15px;
        position: absolute;
        display: inline-block;
        left: 0%;
        width: 100%;
    }

    .offscreen-left {
        left: -100%;
        transition: all 0.5s;
    }

    .add-link-menu {
        position: absolute;
        transform: translate3d(0%, 0, 0);
        width: 100%;
        left: 100%;
        z-index: 10;
        border: 1px solid black;
        input {
            display: block;
            margin-bottom: 10px;
        }
        label {
            display: offerblock;
        }
    }

    .onscreen-left {
        left: 0%;
        transition: all 0.5s;
    }
    
    // @keyframes slide {
    //     from {
    //         opacity: 0;
    //         transform: translate3d(200%, 0, 0);
    //         -webkit-transform: none;
    //     }
    //     to {
    //         opacity: 1;
    //         transform: translate3d(0%, 0, 0);
    //         -webkit-transform: translate3d(-100%, 0, 0);
    //     }
    // }

    // .slide-enter-active {
    //     animation: slide 1s ease-in-out;
    // }

    // .slide-leave-active {
    //     animation: slide 1s ease-in-out reverse;
    // }

    // .slide-enter, .slide-leave {
    //     transform: translate(100%, 0);
    //     overflow: hidden;
    //     opacity: 0;
    // }
}

